[submodule "JeffBeck/Static-Analysis-with-Grails"]
	path = JeffBeck/Static-Analysis-with-Grails
	url = git@github.com:beckje01/gr8us-2013-static-talk.git
[submodule "JeffBeck/Using-Forked-Grails-Plugins"]
	path = JeffBeck/Using-Forked-Grails-Plugins
	url = git@github.com:beckje01/gr8us-2013-plugin-talk.git
[submodule "RobFletcher/hipsteroid"]
	path = RobFletcher/hipsteroid
	url = git@github.com:robfletcher/hipsteroid.git
[submodule "StevePember/js-spa-fundamentals"]
	path = StevePember/js-spa-fundamentals
	url = git@github.com:spember/gr8conf2013-javascript.git
