[submodule "JeffBeck/Static-Analysis-with-Grails"]
	path = JeffBeck/Static-Analysis-with-Grails
	url = git@github.com:beckje01/gr8us-2013-static-talk.git
[submodule "JeffBeck/Using-Forked-Grails-Plugins"]
	path = JeffBeck/Using-Forked-Grails-Plugins
	url = git@github.com:beckje01/gr8us-2013-plugin-talk.git
[submodule "RobFletcher/hipsteroid"]
	path = RobFletcher/hipsteroid
	url = git@github.com:robfletcher/hipsteroid.git
[submodule "MarcoVermeulen/cuke-grails-demo"]
	path = MarcoVermeulen/cuke-grails-demo
	url = git@github.com:marcoVermeulen/cuke-grails-demo.git
[submodule "MarcoVermeulen/cuke-gradle-demo"]
	path = MarcoVermeulen/cuke-gradle-demo
	url = git@github.com:marcoVermeulen/cuke-gradle-demo.git
